<html>

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

</style>
</head>


<body>

<table>
  <tr>	
    <th><a href="http://192.168.0.9:5000/config" target="MyFrame" >Cameara Setting</a></th>
    <th><a href="http://192.168.0.9:5000/streaming" target="MyFrame">Real Time Streaming</a></th>
    <th><a href="http://192.168.0.9:8000" target="MyFrame">Motion Capture Mode</a></th>
    <th><a href="http://192.168.0.9:5000/log" target="MyFrame">Motion  Detect Log</a></th>
	<th><a href="http://192.168.0.9:5000/log_image" target="MyFrame">Motion Detect Image</a></th>
    
  </tr>  
</table>


<hr style="border:green 1px dotted"><br>
<center><iframe name="MyFrame" width="2000px" height="1700px" style="border:none"></iframe></center>



</body>
</html>

